name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install git zip unzip
        #git clone https://github.com/xdrfvgz/APIGardian
        git clone https://github.com/xdrfvgz/local_llm
        gradle wrapper
        ./gradlew assembleDebug
        #cd APIGardian/system_setup
        #bash ./install.sh
        #bash ./build_apk.sh
        #cd ..
        cp app/build/outputs/apk/debug/app-debug.apk $HOME/
        
    - name: Find APK
      run: |
        echo ""
        echo ""
        echo "---------------->>"
        find ~ -name "*.apk"
        echo "<<----------------"
        echo ""
        echo ""
        
    - name: Upload APK
      uses: actions/upload-artifact@v4.6.1
      with:
        name: app-debug.apk
        path: /home/runner/app-debug.apk
        if-no-files-found: error
